---
layout: default
permalink: resume/
---

<main role="main" class="single">
	<div id="intro-wrap">
		<div id="intro" class="preload darken more-button">
			<div class="intro-item" style="background-image: url(http://unsplash.it/1800x600);">
				<div class="caption">
					<h2>Developer &amp; Maker</h2>
					<p>Building new products at any given moment.</p>
				</div><!-- caption -->
				<!-- <div class="photocaption"> -->
					<!-- <h4>Shot by <a href="http://danielezedda.com/">Daniele Zedda</a></h4> -->
				<!-- </div> -->
			</div>
		</div><!-- intro -->
	</div><!-- intro-wrap -->

	<div id="main">

		<section class="row section">
			<div class="row-content buffer even clear-after">
				<!-- <div class="custom-carousel" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false"> -->
				<div>
					<div class="carousel-item">
						<div class="column four">
							<img src="../images/resume_photo.jpg" alt="">
						</div>
						<div class="column eight last">
							<h3>I create simple interfaces for humans.</h3>
							<p>I am a passionate full-stack developer with a startup background. I enjoy wearing many hats and if the shoe doesn't fit, I learn to be a cobbler.</p>
						</div>
						<div class="more-btn"><a class="button transparent aqua" href="{{site.data.routes.portfolio}}">Browse Portfolio</a></div>
					</div><!-- carousel-item -->
				</div>
			</div>
		</section>

		<section class="row section text-light" style="background-color: #96C962;">
			<div class="row-content buffer even clear-after">
				<div class="section-title"><h3>Skills</h3></div>
				<p class="centertxt">I’m a junior to mid-level full-stack developer looking for opportunities to hone my skills while creating awesome technology.<br>My goal is to make the world wide web a better place by developing immersive user experiences, one site at a time.</p>
				<div class="chart" data-percent="40" data-bar-color="#7ab746" data-animate="2000">
					<div class="chart-content">
						<div class="percent"></div>
						<div class="chart-title">JavaScript</div>
					</div><!-- chart-content -->
				</div><!-- chart -->
				<div class="chart" data-percent="30" data-bar-color="#7ab746" data-animate="2500">
					<div class="chart-content">
						<div class="percent"></div>
						<div class="chart-title">Ruby on Rails</div>
					</div><!-- chart-content -->
				</div><!-- chart -->
				<div class="chart" data-percent="30" data-bar-color="#7ab746" data-animate="3000">
					<div class="chart-content">
						<div class="percent"></div>
						<div class="chart-title">HTML &amp; CSS</div>
					</div><!-- chart-content -->
				</div><!-- chart -->
			</div>
		</section>

		<section class="row section">
			<div class="row-content buffer even clear-after">
				<div class="timeline-label column six">
					<h4>Work experience</h4>
					<p>Specialties: Front-end frameworks (AngularJS, Backbone), user interface design, mobile-first development, payments integration (Stripe), MVP planning and development, grid based layout.</p>
					<a href="https://represent.io/gamble" target="_blank" class="button transparent aqua">View Resume</a>
				</div><!-- timeline-label -->
				<div class="timeline column six last">
					<div class="year">
						<time datetime="2014">2014</time>
						{% for employ in site.data.employment %}
							{% if employ.year == 2014 %}
						<div class="experience">
							<span class="circle"></span>
							<div class="experience-img"><img src="{{employ.image}}" alt=""></div>
							<div class="experience-info clear-after">
								<h5>{{employ.employer}}</h5>
								<div class="role">{{employ.role}}</div>
								<p>{{employ.length}} {{employ.location}}</p>
							</div><!-- experience-info -->
						</div><!-- experience -->
							{% endif %}
						{% endfor %}
						<time datetime="2013">2013</time>
						{% for employ in site.data.employment %}
							{% if employ.year == 2013 %}
						<div class="experience">
							<span class="circle"></span>
							<div class="experience-img"><img src="{{employ.image}}" alt=""></div>
							<div class="experience-info clear-after">
								<h5>{{employ.employer}}</h5>
								<div class="role">{{employ.role}}</div>
								<p>{{employ.length}} {{employ.location}}</p>
							</div><!-- experience-info -->
						</div><!-- experience -->
							{% endif %}
						{% endfor %}
						<time datetime="2012">2012</time>
						{% for employ in site.data.employment %}
							{% if employ.year == 2012 %}
						<div class="experience">
							<span class="circle"></span>
							<div class="experience-img"><img src="{{employ.image}}" alt=""></div>
							<div class="experience-info clear-after">
								<h5>{{employ.employer}}</h5>
								<div class="role">{{employ.role}}</div>
								<p>{{employ.length}} {{employ.location}}</p>
							</div><!-- experience-info -->
						</div><!-- experience -->
							{% endif %}
						{% endfor %}
					</div><!-- year -->
				</div><!-- timeline -->
			</div>
		</section>

		<section class="row section">
			<div class="map" id="map_1" data-maplat="30.267153" data-maplon="-97.74306079999997" data-mapzoom="5" data-color="aqua" data-height="22.222" data-img="../images/marker.png" data-info="Based in Austin, TX"></div>
		</section>

		<section class="row section">
			<div class="row-content buffer even clear-after">
			<div class="section-title"><h3>Contact</h3></div>
				<div class="column nine" id="contact">
					<form accept-charset="UTF-8" action="https://formkeep.com/f/8321542488b7" method="POST" id="contact-form" class="contact-section">
					  <input type="hidden" name="utf8" value="✓">
					  <span class="pre-input"><i class="icon icon-user"></i></span>
					  <input class="name plain buffer" type="text" name="name" placeholder="Full name">
					  <span class="pre-input"><i class="icon icon-email"></i></span>
					  <input class="email plain buffer" type="email" name="email" placeholder="Email address">
					  <textarea class="plain buffer" name="message" placeholder="Don't forget that kindness is all!"></textarea>
					  <input id="send" class="plain button red" type="button" value="Send a Message">
					</form>
					<p class="confirmation">
					  Thank you!
					</p>
				</div>
				<div class="column three last">
					<div class="widget">
						<h4>Location</h4>
						<p>
							901 Red River St.<br>
							Austin, TX 78701<br>
							United States of America
						</p>
					</div>
					<div class="widget">
						<h4>I am Social</h4>
						<ul class="inline meta-social">
							<li><a href="https://twitter.com/MisplacedYankee" class="twitter-share border-box" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
							<li><a href="https://www.facebook.com/danny.g.mcadam" class="facebook-share border-box" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
							<li><a href="https://github.com/Gamble715" class="github-share border-box" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

	</div><!-- id-main -->
</main><!-- main -->