<footer role="contentinfo">
  <div class="row">
    <div class="row-content buffer clear-after">
      <section id="top-footer">
        <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
          <h4>Menu</h4>
          <ul class="plain">
            <li><a href="{{ site.data.routes.home }}">Home</a></li>
            <li><a href="{{ site.data.routes.portfolio }}">Portfolio</a></li>
            <li><a href="{{ site.data.routes.blog }}">Blog</a></li>
            <li><a href="{{ site.data.routes.resume }}">Resume</a></li>
            <li><a href="{{ site.data.routes.contact }}">Contact</a></li>
          </ul>
        </div>
        <div class="widget column three">
          <h4>Archives</h4>
<!--           <ul class="plain">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">April 2014</a></li>
            <li><a href="#">May 2014</a></li>
            <li><a href="#">June 2014</a></li>
            <li><a href="#">July 2014</a></li>
          </ul>
 -->        </div>
        <div class="widget column three">
          <h4>Fun Fact</h4>
          <div class="side-mockup center-mockup animation">
            <div class="slider" data-autoplay="3000">
              <figure>
                <div style="padding: 0px;">I had to juggle at least 6 times to graduate 8th grade.</div>
                <div style="padding: 0px;">I juggled 36 times.</div>
              </figure>
            </div>
          </div>
        </div>
        <div class="widget meta-social column three">
          <h4>Follow Me</h4>
          <ul class="inline">
            <li><a href="https://twitter.com/MisplacedYankee" class="twitter-share border-box" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="https://www.facebook.com/danny.g.mcadam" class="facebook-share border-box" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="https://github.com/Gamble715" class="github-share border-box" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
          </ul>
        </div>
      </section><!-- top-footer -->
      <section id="bottom-footer">
        <p class="keep-left">&copy; 2014 <a href="{{site.data.routes.home}}" alt="Gamble McAdam">Gamble McAdam</a>. All Rights Reserved.</p>
        <p class="keep-right">"If you don't know, the thing to do is not to get scared, but to learn."</p>
      </section><!-- bottom-footer -->
    </div><!-- row-content -->
  </div><!-- row -->
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{{ "js/plugins.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/beetle.js " | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function(){
  $('#send').click(function(){
    $(this).val('Sending ...');
    $.post('https://formkeep.com/f/8321542488b7', $('#contact-form').serialize(), function(response) {
      $('#success').html(response);
      $('#success').hide('slow');
      $('#send').val('Your message has been sent!');
    });
    return false;
  });
});
</script>
