<footer role="contentinfo">
  <div class="row">
    <div class="row-content buffer clear-after">
      <section id="bottom-footer">
        <p class="keep-left">&copy; 2014 <a href="{{site.data.routes.home}}" alt="Gamble McAdam">Gamble McAdam</a>. All Rights Reserved.</p>
        <p class="keep-right">"If you don't know, the thing to do is not to get scared, but to learn."</p>
      </section><!-- bottom-footer -->
    </div><!-- row-content -->
  </div><!-- row -->
</footer>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{{ "build/app.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.1/packery.pkgd.js"></script>
<!-- <script src="{{ "js/beetle.js " | prepend: site.baseurl }}"></script>
<script src="{{ "js/highlight.pack.js " | prepend: site.baseurl }}"></script> -->

<script>
$(document).ready(function(){

  hljs.initHighlightingOnLoad();
  $('span.code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
  $('#send').click(function(){
    $(this).val('Sending ...');
    $.post('https://formkeep.com/f/8321542488b7', $('#contact-form').serialize(), function(response) {
      $('#success').html(response);
      $('#success').hide('slow');
      $('#send').val('Your message has been sent!');
    });
    return false;
  });
});
</script>
