---
layout: default
---

<main role="main" class="single single-portfolio">
	<div id="intro-wrap" data-height="22.222">
		<div id="intro" class="preload darken">
			<div class="intro-item port" style="background-image: url({{page.image}});">
			</div>
		</div><!-- intro -->
	</div><!-- intro-wrap -->

	<div id="main" class="row">
		<div class="row-content buffer-left buffer-right buffer-bottom clear-after">
			<div id="post-nav">
				<ul class="clear-after reset plain">
					<li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">Prev</span></a></li>
					<li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li>
					<li id="next-items" class="post-nav"><a href="#"><span class="label hidden-mobile">Next</span><i class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>

			<div class="post-area clear-after">
				<article role="main" class="column nine">
					<h5 class="meta-post"><a href="#">Design</a>, <a href="#">Appareal</a></h5>
					<h1>{{ page.project }}</h1>
					{{content}}
				</article>

				<aside role="complementary" class="sidebar column three last">
					<div class="widget">
						<h4>Client</h4>
						<p>{{page.client}}</p>
					</div>
					<div class="widget">
						<h4>Role in Project</h4>
						<p>{{page.role}}</p>
					</div>
					<div class="widget">
						<h4>Project included</h4>
						<p>{{page.included}}</p>
					</div>
					<div class="widget">
						<h4>External Links</h4>
						<p>Don't forget to check out the demo!</p>
						<a href="http://www.affordably.me/demo#/daily" class="button transparent" target="_blank">View Project</a>
					</div>
				</aside>

			</div><!-- post-area -->

</main><!-- main -->
